body {
}
.cardandresponse {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.card {
  border-style: solid;
  border-width: 3px;
  border-color: black;
  width: 30em;
  height: 18em;
  display: table-cell;
  vertical-align: middle;
  box-shadow: 3px 3px 5px #aaaaaa;
  margin: 10px;
}
.question, .answer, .secondaryanswer {
  font-size: xx-large;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.response {
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  border: 1px solid #aaaaaa;
  box-shadow: inset 0px 2px 2px #aaaaaa;
}
